* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #222;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

#grid {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 25rem;
  border: solid 1px white;
}

.square {
  background-color: black;
  border: solid 2px red;
}

.navbar {
  margin-left: 1rem;
  margin-right: 1rem;
}
